{% extends 'base.html' %}
{% load static %}



  {% block body %}
  {% load static%}
    <section class="body">
        <header class="service-header">
        <h1 class="text1"><span class="text">{{ct}}</span> Services</h1>
        
        </header>

        <main class="container">
            {% for prod in products%}
            <section class="machine-card" data-aos="fade-right">
                <img src="{{prod.productimage.url}}" class="machine-photo" style="background-size :100%; height:550px; width:400px; margin-left:50px;">
                <div style="margin-left:2rem">
                    <h3 class="cate">{{prod.productname}}</h3>
                    <div>
                        {{prod.description|safe}}
                    </div>
                    
                    <a href="{% url 'booking' %}" class="machine-btn">BOOK NOW</a>
                </div>

            </section>
            {% endfor %}

        </main>

    </section>

    
    {% endblock body %}