<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="{% static 'assets/css/news.css' %}" rel="stylesheet">
</head>
<body>
    <section class="news">
        <div class="new-leftBox">
            <div class="new-content">
                <h1>Events and News</h1>
                <p>A Fabrication Laboratory (FabLab) is a technical prototyping 
                    platform where people can design and build their own technology. 
                    They began as began as an outreach program from MIT‘s Center for Bits and Atoms (CBA). 
                    Fab labs aim to provide stimulus for local entrepreneurship
                    and serves as a platform for learning and innovation.
                </p>
            </div>
        </div>
        <div class="new-event">
            <ul>
                <li>
                    <div class="new-time">
                        <h2>24<br><span>June</span></h2>
                    </div>
                    <div class="new-details">
                        <h3>Where does it come form</h3>
                        <p>
                            people can design and build their own technology. They began as began as an 
                            outreach program from MIT‘s Center for Bits and Atoms (CBA). 
                            Fab labs aim to provide stimulus for 
                            local entrepreneurship and serves as a platform for learning and innovation.
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </li>
                <li>
                    <div class="new-time">
                        <h2>24<br><span>June</span></h2>
                    </div>
                    <div class="new-details">
                        <h3>Where does it come form</h3>
                        <p>
                            people can design and build their own technology. They began as began as an 
                            outreach program from MIT‘s Center for Bits and Atoms (CBA). 
                            Fab labs aim to provide stimulus for 
                            local entrepreneurship and serves as a platform for learning and innovation.
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </li>
                <li>
                    <div class="new-time">
                        <h2>24<br><span>June</span></h2>
                    </div>
                    <div class="new-details">
                        <h3>Where does it come form</h3>
                        <p>
                            people can design and build their own technology. They began as began as an 
                            outreach program from MIT‘s Center for Bits and Atoms (CBA). 
                            Fab labs aim to provide stimulus for 
                            local entrepreneurship and serves as a platform for learning and innovation.
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </li>
                
            </ul>
        </div>
    </section>
    
    
</body>
</html>
